<div class="col-md-12"> Notes
</div>
<div>
  <div class="col-md-4">
    <div>
      title: {{input value=title}}
      <button {{action 'addNote'}}>Add</button>
    </div>
    <div>
      <ul>
        {{#each model as |note|}}
          <li>
            {{#link-to 'notebooks.notes.note' note.id}}
              {{note.title}}
            {{/link-to}}
            <button {{action 'deleteNote' note}}>delete</button>
          </li>
          {{else}}
            <div>No notes found</div>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    {{outlet}}
  </div>
</div>
